/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 


}



/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
	.banner_content p{width: 100%; font-size: 35px;}
	.banner_content {	padding: 50px 0; }
	.Number{top: 0px;}
	#navbarText{position: absolute;right: 0;top: 80px;background: #fff; padding: 10px;}
	header .navbar-nav .nav-link{padding: 5px 0 5px 0;}
	.about_area p {	padding: 0;}	    
	
}



/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {


}




/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.navbar{padding: .5rem 0rem;}
	.Number{top: 120px; left: 10px; color: #fff;}
    .banner_content {	padding: 70px 0 30px 0; }
	.banner_content p{font-size: 25px; line-height: 35px;}
	.banner_content .btn-light{height: 40px; width: 230px; margin-top: 25px;}
	.about_area {	padding: 20px 0; }
	.about_area h2{font-size: 25px; margin-bottom: 10px;}
	.services_area{ padding: 30px 0;}
	.service_title p {	margin: 0;}
	.footer_area{padding-top: 20px;}
}