body{font-family: 'Roboto', sans-serif;}
.background-top{background-image:url("../images/bitcoincash-top-banner.jpg");}
.container-fluid{padding:0px 60px}
.background-top ul {
    /* margin-top: 22px; 
    background-color: #463373;
     color: #000; padding-top: 100px; */   
    width: 100%;
    
}

.navbar-default {
    display: block;
    background: transparent;
    border: 0;
}
.navbar-brand{max-width: 260px;padding: 0;height: auto;}
.sidenav.intro{width: 30%;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
background: rgb(70, 51, 115);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 50px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}
a.menu-list {
    padding-top: 50px;
    padding-left: 50px;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 40px;
    margin-left: 50px;
    padding: 0px;
    color: #fff;
}

/* Icon 4 */

#nav-icon4 {
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    right: 30px;
    z-index: 999999;
	cursor: pointer;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 32px;
  left: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.flight-info {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin: 20px 0 126px;
    height: 70px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
	position: relative;
}
.round-trip p {
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding-left: 30px;
}
.round-trip p span {
    font-size: 16px;
    margin-left: 50px;
    font-weight: 400;
}
.flight-info input[type="text"] {
    border-right: 1px solid #808080 !important;
    border-top: 0 !important;
    border-left: 0;
	width: 100%;
	border-radius: 0;
	box-shadow: none;
}
.flight-info input {
    float: left;
    height: 42px;
	padding: 0 10px;
	border-bottom: none;
}
.flight-info input[type="text"]:first-child {
    border-top-left-radius: 25px;
    border: none;
}
.work-sec h1 {
    color: #463373;
    font-size: 26pt;
    font-weight: bold;
    padding: 40px 0;
}
.works-content-sec {
    max-width: 70%;
    margin: 0 auto;
}
.works-info p {
    font-size: 21px;
    color: #5a5a5a;
}
#sel1 {
    width: 200px;
    float: left;
    height: 70px;
    -webkit-appearance: none;
    border-right: none;
	border-left: 0;
	-moz-appearance: none;
	appearance: none;
}
button.SEARCH-FLIGHT {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #463373;
    color: #fff;
    padding: 17px 40px;
    border: 0;
    margin-top: 8px;
    float: right;
    margin-right: 10px;
}
.flight-info input:focus, textarea:focus, select:focus {
    outline: none;
}
.flight-info .form-control:focus {
    border: 0px;
    outline: none;
    box-shadow: none;
}

.flight-info select {
    position: relative;
    background-image: url(../images/left-down-caret.png);
    /* background-size: cover; */
    float: left;
    background-repeat: no-repeat;
    /* float: right; */
    /* position: absolute; */
    background-position: 90% center;
}


.last-bar {
    max-width: 80%;
    float: right;
}
.banner-content {
    padding: 120px 0 105px;
}
.banner-content h1 {
    color: #fff;
    text-align: center;
    font-size: 50pt;
    max-width: 70%;
    margin: 0 auto;
}
.banner-content p {
    color: #fff;
    text-align: center;
    font-size: 12pt;
    padding: 10px 0 0;
}
.work-sec {
    background-image: url(../images/map-sec.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: #e1e1e1;
    padding: 50px 0px 30px 0px;
}
.main-content {
 
    margin-bottom: 20px;
}
.company-do {
    background-image: url(../images/aroplane.png);
    background-size: cover;
    background-repeat: no-repeat;
	background-color: #463373;
    width: 100%;
    background-position:0 40px;
    height: 490px;
}
.company-do-inner {
    padding: 112px 0;
}
.company-do-inner h1 {
    color: #fff;
}
.company-do-inner .bar {
    background-color: #fab915;
    width: 15%;
    height: 4px;
    border: none;
}
 .affix {
      top: 0px;
      width: 100%;
      z-index: 9999 !important;
	  left:0;
	  background-color: #463373;
      height: 82px;
  }
.company-do-inner p {
    color: #fff;
    max-width: 84%;
    margin: 0px auto 0;
    padding: 20px 0 0 0;
    font-size: 18px;
}
.cities-sec {
    display: inline-block;
    width: 100%;    
	float:left;
	padding-top: 100px; padding-bottom: 100px;
}
.cities-content {
    background-color: #fab915;
    padding: 20px;
}
.cities-content h1, .cities-content h3, .cities-content h6 {
    margin: 0 0 10px 0 !important;
}
.cities-content h2 b {
    color: #eb2508;
}
.cities-content {
    background-color: #fab915;
    padding: 15px;
    display: inline-block;
    width: 100%;
	text-align: center;
}
.search {
    background-color: #463373;
    outline: 0;
    border: 1px solid #463373;
    padding: 6px 12px;
    color: #fff;
    margin: 10px 0;
}
.cities-content h1 {
    font-size: 26px;
    font-weight: bold;
	    color: #000
}
.cities-content h3 {
    font-size: 18px;
    color: #000;
}
.cities-content h6 {
    color: #000;
    font-size: 14px;
}
.cities-content h3 {
    font-size: 18px;
}


.Customer-reviews {
    background-image: url(../images/back-grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    padding: 80px 0 30px 0;
    text-align: center;
	width:100%;
	display: block;
	float: left;
	
}
.content-center{float: none;margin: 0 auto;}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {  left: -12px;}

/* Next button  */
#quote-carousel .carousel-control.right {  right: -12px !important;}

/* Changes the position of the indicators */
.carousel-indicators{ bottom: -60px; width: 85%;}
.carousel-indicators li {width: 15px; height: 15px;}

/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {  background: #c0c0c0;}
#quote-carousel .carousel-indicators .active {  background: #6a26ed; width: 15px; height: 15px; margin: 1px;}
#quote-carousel img{  max-width: 100%;}
/* End carousel */


.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
   /*  content: "\f10d"; */
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.Customer-reviews blockquote {
    padding: 0 !important;
}
#quote-carousel {
    margin-bottom: 0;
    padding: 0 !important;
}
.Customer-reviews blockquote a {
    color: #6a26ed;
}

.Customer-reviews p {
    font-size: 16px;
    color: #000;
}





footer{
	width:100%;	
	display:inline-block;
	float: left;
	background-color: #000;
}
footer p {
    padding-top: 30px;
    color: #575757;
    font-size: 16px;
}


.social-icons ul {
    padding: 0 0 0 0px;
    list-style: none;
}
.social-icons ul li {
    display: inline;
    padding: 0 0 0 4px;
}
.social-icons {
    float: right;
    padding: 20px 0 10px 0px;
}












/**
  MEDIA QUERIES
*/
section.logo-section {
    width: 100%;
    display: inline-block;
    float: left;
    margin-top: 34px;
}
@media (max-width: 1024px) { 
.company-do-inner p {
   
    max-width: 92% !important;
    
}}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}
@media (max-width: 812px) {
	
	.america {
    margin-bottom: 10px;
}
.img-box img {
    width: 100%;
}
	
}
/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    .cities-sec .img-box img {
    width: 100% !important;
}
#myModalNorm {
    padding-right: 36% !important;
    margin-top: 6% !important;
}
.america{margin-bottom:20px !important;}
#quote-carousel .carousel-indicators {top: 102% !important;
 left: 47% !important;
}
.company-do-inner {
    padding: 60px 0 !important;
}
.text-sean p {
    text-align: left;
}

   
}





@media (max-width: 767px) {
	
a.menu-list {	padding: 15px 10px 0 10px; font-size: 15px;}	
.company-do-inner p{font-size:15px !important;}
footer {    width: 100% !important;    display: inline-block !important;	float: left;}
navbar.container-fluid {    padding: 0 !important;}
section.logo-section {    width: 100%;    display: inline-block;    float: left;    margin-top: 34px;}
.social-icons {    width: 100%;    text-align: center;}
footer p {    text-align: center;}
.flight-info input[type="text"]{border-right:0px !important;overflow:hidden;}	
.banner-content h1 {    font-size: 20pt !important;}
.flight-info .table-responsive td {    display: block;    width: 50%;    float: left;    border: 2px solid #463373;}
.flight-info .table-responsive td:last-child {    width: 100%;    border: none;    border-radius: 12px;}
.flight-info {    border-top-left-radius: 0px;    border-bottom-right-radius: 0px;	margin: 20px 0 129px !important;}
.flight-info .table-responsive{border:0px;}
#sel2 {    width: 100% !important;	height: 45px !important;}
#sel1 {    width: 100%;    height: 45px !important;    outline: 0 !important;     border-radius: 0px;}
.btn.btn-lg.btn-primary.getfareprices {
	width: 100%;
	padding: 8px 40px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0;
	bottom: -125px;
	top: auto !important;
	right: 0 !important;
}
.drop-errow1{ padding:0 !important; }	
.drop-errow2::before {top: 7px !important;}	
#datepicker,#datepicker2 {    border-top-left-radius: 0px !important;}
#jssor_1{width:100% !important;}
.works-info h2 {    font-size: 25px;    text-align: center;}
.works-info p {    font-size: 18px;    color: #5a5a5a;    text-align: center;}
.work-sec h1 {    font-size: 25pt !important;}
.img-area-sec img {    margin: 0 auto;}
.company-do {    min-height: 570px;}
.Customer-reviews {    height: 100% !important;	}
#myModalNorm {    padding-right: 0 !important;    margin-top: 19% !important;}


}

/*-- end 767 device --*/







@media (max-width: 479px) {
.container-fluid {	padding: 0px 15px;}	
div#mySidenav.sidenav.intro {    width: 40% !important;}	
.navbar-brand .img-responsive{max-width: 70%;}	
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span{ height: 2px; width: 70%;}	
#nav-icon4 span:nth-child(2){top: 10px;}
#nav-icon4 span:nth-child(3){top: 20px;}	
#nav-icon4.open span:nth-child(1){top: 7px;}
.affix{height: 60px;}
#nav-icon4{right: 10px;}	
	
	
	
	
#myModalNorm {    padding-right: 0px !important;    margin-top: 6% !important;}	
.company-do-inner p{font-size:15px !important;}	
.company-do {   background-position: 48% 152% !important;    min-height: 830px;}
.img-area-sec img {        margin: 0 auto;}
.banner-content {    padding: 120px 0 36px !important;}

}
/*-- end 479 device --*/


.banner-content p {    display: none;}
label#autocomplete-error,#autocompletes-error {    color: red;}
#datepicker-error {    background-color: #fff;    width: 100%;    border: 0px;    outline: 0;    color: red;}



/* logo-slider */
.clearout {height:20px;clear:both;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {    position:relative;    max-width:100%;}
.nbs-flexisel-ul {    position:relative;    width:99999px;    margin:0px;    padding:0px;    list-style-type:none;       text-align:center;      overflow: auto;}
.nbs-flexisel-inner {    position: relative;    overflow: hidden;    float:left;    width:100%;    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);   
    background: rgba(0,0,0,0.5);
    color: #fff;     
}
.nbs-flexisel-nav-left {    left: 10px;}
.nbs-flexisel-nav-left:before {    content: "<" }
.nbs-flexisel-nav-left.disabled {    opacity: 0.4;}
.nbs-flexisel-nav-right {    right: 5px;    }
.nbs-flexisel-nav-right:before {    content: ">"}
.nbs-flexisel-nav-right.disabled {    opacity: 0.4;}

/* logo-slider */