/*----------------------------------------------------
@File: Default Styles
@Author: Testing
----------*/


textarea.my-textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.text-capitalize {
	text-transform: capitalize;
}
.website_logo{
    width: 200px;
    background: #353f4f;
}
.service_image{
    width: 200px;
    background: #353f4f;
}
.footer_image{
	width: 200px;
    background: #353f4f;
}

.col-sm-10.text {
    width: 77%;
    margin: 5px;
}
button.btn.btn-primary.type {
    margin-left: 20%;
}



span.switchery {
    margin-top: 10px;
}
button.btn.btn-primary.text1 {
	    background-color: rgb(100, 189, 99);
    border: 2px solid white;
 border-radius: 20px;
        margin-left: 50%;
}
.title a{
    color: #fff;
}
img.user_image {
    width: 200px;
}
small {
    left: 23px !important;
}

.my-form-nsc hr {
    border-color: #eff0f4 !important;
    margin: 10px 0px;
}

.my-form-nsc .form-control{
    font-size: 12px;
}
.col-lg-offset-2.col-lg-10 {
    margin-top: 10px;
}
img.about_header_image {
    width: 200px;
}
img.about_you_footer_image {
    width: 200px;
}
img.about_us_header_image {
    width: 200px;
}
img.banner_header_image {
    width: 100%;
}
img.referral_affiliates_header_image {
    width: 200px;
    height: 100px;
}
img.agent_inquiry_image {
    width: 200px;
    height: 100px;
}
table.display {
    margin: 0px !important;
    
}
img.get_started_header_image {
    width: 200px;
}
img.pricing_header_image {
    width: 200px;
}
