/*----------------------------------------------------
@File: Default Styles
@Author: Testing
----------*/
/*--header li.nav-item.dropdown:hover .dropdown-menu{display:block;}--*/
header.main_menu_area .navbar .navbar-nav li a:hover, header.main_menu_area .navbar .navbar-nav li.active a {
    color: #2bc0a4 !important;
}
header.main_menu_area .navbar .navbar-nav li.my-menu-button-li a.my-menu-btn-a:hover {
    background: #21d397;
    color: #fff !important;
}
.project_inner{text-align:center;}
@media only screen (min-width: 1020px) and (max-width: 1050px){
.main_menu_area .navbar .navbar-nav li {
    display: inline-block;
    margin-right: 35px;
}
}
@media only screen and (max-width: 991px){
header.main_menu_area .navbar .navbar-nav li.my-menu-button-li a.my-menu-btn-a {
    border: 2px solid #21d397;
    padding: 12px 15px !important;
    text-transform: uppercase;
    width: 145px !important;
    display: block;
    margin-bottom: 5px;
    line-height: 1;
    margin-left: 0;
}
}

@media only screen and (max-width: 768px){
	header.main_menu_area .navbar .navbar-collapse {
    text-align: right;
    display: none;
	}
	header.main_menu_area .navbar .navbar-collapse.show {
    text-align: right;
    display: block !important;
	}
.testimonials_area .testimonials_slider .owl-next{
	left: 0;
	right: auto;
	transform: translateX(-0%);
	margin-right: 0;
	top: 89px;
	bottom: auto
}
.testimonials_area .testimonials_slider .owl-prev {
	left: auto;
	right: 0px;
	transform: translateX(-0%);
	margin-right: 0;
	top: 89px;
	bottom: auto
}
.testimonials_area .testimonials_slider .item .media .d-flex {
	display: block !important;
	margin: 0 auto;
}
.c_box_item2{padding:0 !important;}
.selectconsultent {
	padding:0 15px !important;
}
header.main_menu_area {
    padding: 0px 0px;
}
.container{margin-top: 150px !important;}
.container .card {width: 100%;border: 0;}
section#section1 {padding-top: 0;margin: 0;}
#service-page .tp_btn{display: block !important;}
.slider_text_box {display: block !important;width: 100% !important;margin: 0 auto !important;position: relative !important;padding: 0 15px !important;}
.tp-loop-wrap {position: relative !important;width: 100%;display: block !important;text-align: center !important;}
.tp-loop-wrap p {white-space: pre-line !important;width: 100% !important;display: block !important;}

}
.consultant h4, .consultant h5 {
	cursor: pointer;
}
textarea.text {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.md-form.text {
    position: relative;
    }
 .text label.error-message {
    position: absolute;
    bottom: -30px;
    left: 0px;
}
a.tp_btn {
    margin: 0 auto !important;
    width: auto;
    display: inline-block;
    /*max-width: 150px;*/
}
.faq-section {
        margin: 170px 0 50px 0 !important;
}
.panel-cont {
    position: relative;
top: 10%;
/*transform: translateY(-50%);*/
color:#fff;
}
.mb-40 {
    margin-bottom: 4rem;
	font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
	line-height: 1.5;
}
.lead {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
	line-height: 1.5;
}
.transparent-element {
    opacity: 0.5;
	margin-bottom: 20px;
}
a.button.scroll-link {
    color: #fff;
    padding: 5px 15px;
}
.border-white {
    border-color: #ffffff;
}
[class*="border-"] {
    border: 1px solid #eee;
}
img.img-responsive {
    max-width: 100%;
}
.p-t-b-40 {
    padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.feature-text {
    color: #666;
    max-width: 98% !important;
    margin:0px auto 30px;
}
.feature-text span.text-large.font-alt-1 {
    font-size: 2rem;
}
.feature-text h3 {
    font-size: 1.2rem;
}
.bkg-grey-ultralight {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}

.contact_widget h4{
    color: #b5aec4;
    font-size: 16px;
    margin-top: 15px;
}

.card-body{padding:10px 10px;}
.card{width:75%;border: 0;}
.card-link:after {
   	content: "x";
   	position:relative;
   	float:left;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 18px;
   	font-weight:600;
   	padding-right: 5px;
   	color: #28a745;
   	-webkit-animation: minus 0.8s;
   	animation: minus 0.8s;
}
.card-link.collapsed:after {
   content: ">";
  -webkit-animation: plus 0.8s;
   animation: plus 0.8s;
   color: #dc3545;
} 

@keyframes minus {
    0% {transform: rotate(360deg);}
    0% {-webkit-transform: rotate(360deg);}
}

@keyframes plus {
   0% {transform: rotate(-360deg);}
   0% {-webkit-transform: rotate(-360deg);}
}
.card-header {
    background-color: #eee;
    text-align: center;
    color: #666 important;
    border: 0;
    box-shadow: none;
    margin-bottom: 15px;
    border-radius: 0 !important;
    border: 0 !important;
}
.card-header:hover {background-color: #666;}
.card-header:hover h4 a {color: #fff !important;}
.card-header a.card-link{color: #666 !important;}
.card-header:hover a.card-link{color: #fff !important;}
.mb-50{margin-bottom:50px; margin-top:40px}
.p-t-b{padding-bottom:15px;padding-top:15px;}
button.bkg-red-light.bkg-hover-red-light.color-white.color-hover-white {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin: 10px 0 40px 0;
    color: #666;
}
a.tp_btn {
    width: 165px;
    margin-top: 18px !important;
    font-size: 15px;
    margin-left: 2px !important;
}
/*section.banner-area.relative {
    background: url('<?php echo base_url() ?><?= get_config_item('get_started_header_image'); ?>') no-repeat center center/cover;
}*/
.white-color{color:#fff !important;}
.angle-bg .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15%;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(0,0,0,.2);
}
.angle-bg .carousel-indicators .active {
    background-color: #666;
}
.angle-bg .carousel-indicators{bottom: -17px;}
.angle-bg #demo {
    margin: 0 auto;
}
.angle-bg .caption-title h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #0c75bf;
    border-bottom: 1px solid;
    text-align: center;
}
/*--css for payment form start here--*/
#Section3 .card-payment {
    height: 476px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
#Section3 h3 {
    font-size: 30px;
    line-height: 50px;
    margin: 0 0 28px;
    text-align: center;
}
#Section3 ol, #Section3 ul {
    list-style: outside none none;
}
#Section3 ul, #Section3 h4{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#Section3 form {
    float: none;
}
#Section3 form, #Section3 #orderInfo {
    background-color: #f9f9f7;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    left: 0;
    margin: 0 auto;
    padding: 10px 10px;
    max-width: 320px;
}
#Section3 form li {
    margin: 8px 0;
}
#Section3 form label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
#Section3 form #card_number {
    background-image: url("http://immcan.mobilytedev.com/assets/immcan/img/images.png"), url("http://immcan.mobilytedev.com/assets/immcan/img/images.png");
    background-position: 2px -121px, 260px -61px;
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 54px;
    width: 225px;
}
#Section3 form input {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: content-box;
    color: #333;
    display: block;
    font-size: 18px;
    height: 32px;
    padding: 0 5px;
    width: 275px;
    outline: none;
}
#Section3 form input::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
#Section3 .payment-btn {
    width: 100%;
    height: 34px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #005fb3;
    background: #0092d1;
    border-radius: 4px;
}
#Section3 .payment-btn:disabled{opacity: 0.2;}
#Section3 form li .help {
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
}
#Section3 .vertical {
    overflow: hidden;
}
#Section3 .vertical li {
    float: left;
    width: 95px;
}
#Section3 .vertical input {
    width: 68px;
}
#Section3 .list {
    color: #767670;
    font-size: 16px;
    list-style: outside none disc;
    margin-bottom: 28px;
    margin-left: 25px;
}
#Section3 .card-payment .numbers {
    background-color: #fff;
    border: 1px solid #bbc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 28px;
    padding: 14px 20px;
    z-index: 10;
}
#Section3 .card-payment .numbers p {
    margin-bottom: 0;
        margin-top: 0;
}
#Section3 .card-payment .numbers .list {
    margin-bottom: 0;
    margin-left: 0px;
}
#Section3 .required{border: 1px solid #EA4335;}
#Section3 #orderInfo p span{color: #FB4314;}
/*--//css for payment form end here--*/

/**darpan**/
/**start about page css**/

.about_btn{background: #c0392b;color: #fff;padding: 10px 20px!important;}
.about_btn:hover{background:#a71a1a;color: #000;}
a.bg_btn.box {
    width: 250px;
    height: 55px;
    line-height: 55px;
    font-size: 22px;
}

.thumbnail{}
.thumbnail h1{font-weight: 600;color:#000;font-size: 22px;padding-top: 10px;text-align: left;}
.thumbnail h4{font-weight: 600;color:#818181;font-size: 20px;padding-top: 5px;text-align: center;}
.thumbnail p{font-weight: 400;color:#000;font-size: 14px;text-align:center; left;padding-top: 10px;}
.replicable-content, .row.xlarge.replicable-content {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.section-block {
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
	z-index: 1;}

.column > *:first-child {
    margin-top: 0;
}
.mb-50 {
    margin-bottom: 5rem;
}
.offset-1 {
    margin-left: 8.33333%;
}
.width-8 {
    width: 66.66667%;
}
.column, [class*="content-grid"] .grid-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    float: left;
}

.content-grid-2 .grid-item {
    width: 50%;
}
.column, [class*="content-grid"] .grid-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.mb-30 {
    margin-bottom: 3rem;
}
.footer_background{
	/*background-image: url("../../images/footer_image.jpg");*/
	background-size: cover;
    background-position: center;
	text-align: center;
    color: #fff;
    padding: 200px 0px;
}
.footer_background p {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 300;
}
section.images {
    margin-top: 90px;
}

.thumbnail {
    margin-bottom: 18px;
}
.card-header {
    text-align: left;
}

.contact_us_form label.error {
    font-size: 12px;
    color: rgb(173, 173, 173);   
}

.single-page { margin: 20px 0px 50px 0px; }
.single-page h1{}
.single-page h2{}
.single-page p{}

.card-block {
    margin-bottom: 22px;
}
.faq-section h2 {
    margin: 17px;
}
.contact_widget h6 {
    padding: 5px;
}
.contact_widget p {
    padding: 2px;
}
a.tp_btn.test:after {
    content: "";
    height: 44px;
    width: 130px;
    position: absolute;
    left: -2px;
    top: -2px;
    border-width: 2px;
    border-style: solid;}
a.tp_btn.test {
    width: 130px;
    height: 44px;
}
.image {
    margin-bottom: 50px;
}

/*a {
    color: white;
}*/

header nav .navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
}

.c_box_item a {
    color: #0056b3;
}

section#pricing {
    background: lightgray;
}
.col-sm-4.pricing-container.wow.fadeInUp {
    border: 1px solid lightgrey !important;
}
p.white {
    font-size: 24px;
    margin-top: 10px;
}
a.bg_btn {
    margin: 0px 1px 0px 4px !important;
}
.about-us-page{padding-top: 35px;}
.about-us-page h2{font-size: 42px;text-align: center;}
.about-us-page p{
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    padding-top: 12px;
    text-align: center;
}
#images_team h2 {text-align: center;font-size: 32px;}
#images_team h3 {text-align: center;text-align: center;font-size: 30px;padding-bottom: 30px;}
#images_team{background-color: #eeeeee;padding-top: 30px;}
.how-we-work{padding-top: 35px; padding-bottom: 20px; }
.how-we-work h2{text-align: center;font-size: 42px; margin-top: 12px;}
.how-we-work p{font-size: 16px;text-align: left;font-weight: 500;line-height: 2;}
.how-it-row {padding-top: 20px;}
.how-it-row ul{font-size: 16px;font-weight: 500;line-height: 2;list-style: inherit;padding-top: 20px;}
.how-we-work img{width: 100%;height: 320px;}


.numberCircle {
    border-radius: 50%;
    /* width: 20px; */
    /* height: 20px; */
    /* padding: 3px; */
    background: #f05a22;
    border: 2px solid #666;
    color: #fff;
    /* text-align: center; */
    font: Arial, sans-serif;
    width: 20px !important;
    height: 20px !important;
    padding: 2px !important;
    font-size: 12px !important;
    display: inline-block;
    text-align: center;
    line-height: 1;
}

/* about you page css*/
section.how-we-help-page {
    margin-top: 30px;
    text-align: center;
}
.col-md-6.help {
    padding: 25px;
}
.container-fluid.work {
    background: lightgrey;
}
.team_image img.img-responsive {
    max-width: 100%;
    height: 376px;
}
.fade.in {
    opacity: 1;
}

/* Modal Pop up */
.modal .modal-body b, .modal .modal-body strong {
    margin: 0px 0px -10px 1px;
    display: block;
    font-size: 20px;
    line-height: 24px;
}

.modal .modal-content {
    background: #04081d;
        border: 2px solid white;

}

.modal .modal-body {
    background: lightgrey;
}
.modal-header h4 {
    font-weight: bold;
    text-align: center !important;
    color: white;
}
.modal-body h3 {
    font-size: 20px;
    
    margin: 12px 0px 10px 1px;
}

/* Modal Pop up*/
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
button.close {
    color: white;
}
.modal-header {
    border-bottom: 2px solid white;
}
button.btn.btn-primary {
    margin-top: 2%;
    margin-left: 40%;
    padding-right: 14px;}
